<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Panchi's Cocktails</h1>
      <table>
        <% @cocktails.each do |cocktail| %>
        <tr><%= cl_image_tag cocktail.photo, height: 275, width: 150, crop: :fill %>
         <%= link_to cocktail.name, cocktail %>  </tr>
         <% end %>
      </table>
       <h3 class="btn btn-danger btn-lg"><%= link_to "Create a new Cocktail!", new_cocktail_path %></h3>
     </div>
   </div>
 </div>
